#
# config file
#

PATH=$PATH:/usr/bin

#
# bup directory
#

# default is to not set BUP_DIR

# static storage
#BUP_DIR=/mnt/backup/bup

# storage by month
#BUP_DIR=/mnt/backup/bup/$(date +%Y%m)

# storage by year
#BUP_DIR=/mnt/backup/bup/$(date +%Y)

#
# store mountpoint
#

MOUNT_PATH=/mnt/backup/store

MOUNT_OPTIONS=""
#MOUNT_OPTIONS="-o"
